config.json
display/display_config.json
core/usage_cache.json
data/players_db.json
assets/__pycache__/*
compare/__pycache__/*
core/__pycache__/*
display/__pycache__/*
website/assests/*
website/*.bak
website/src/*.bak
